body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        .container {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            text-align: center;
            width: 300px;
        }
        .input-group {
            margin-bottom: 10px;
        }
        .input-group2 {
            margin-bottom: 10px;
          display: flex;
        }
        .input-group label {
            display: block;
            margin-bottom: 5px;
        }
        .input-group input {
            padding: 10px;
            width: calc(100% - 22px);
            margin-bottom: 10px;
        }
        .input-group2 .generate-btn {
            display: inline-block;
            width: auto;
            padding: 10px;
            margin-left: 10px;
            cursor: pointer;
            background-color: purple;
            color: white;
            border: none;
            border-radius: 5px;
          font-size: 15px;
        }
.input-group2 .generate-btn:hover {
  background: green;
}
        .input-group button {
            padding: 10px;
            width: calc(100% - 22px);
            cursor: pointer;
            background-color: purple;
            color: white;
            border: none;
            border-radius: 5px;
        }



.btn-22,
.btn-22 *,
.btn-22 :after,
.btn-22 :before,
.btn-22:after,
.btn-22:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-22 {
  -webkit-tap-highlight-color:transparent;
  -webkit-appearance: button;
  background-color:purple;
  background-image: none;
  color:#fff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-22:disabled {
  cursor: default;
}
.btn-22:-moz-focusring {
  outline: auto;
}
.btn-22 svg {
  display: block;
  vertical-align: middle;
}
.btn-22 [hidden] {
  display: none;
}
.btn-22 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-22 span {
  mix-blend-mode: difference;
}
.btn-22:before {
  aspect-ratio: 1;
  background: green;
  color: white;
  border-radius: 50%;
  content: "";
  left: -100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  transform-origin: left center;
  transition: transform 0.2s ease;
  width: 100%;
}
.btn-22:hover:before {
  transform: translateY(-50%) scale(2);
}

#message {
  color: green;
}